VITE_API_URL=/api
POSTGRES_DB=vulnerabilidades_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me
ENCRYPTION_KEY=generate-with-Fernet.generate_key
SECRET_KEY=change-me
VERIFY_SSL=True
DOMAINS_ALLOWLIST=localhost,127.0.0.1
CORS_ALLOW_ORIGINS=https://localhost,https://127.0.0.1
